.post .post-title, header.post-header .post-title {
  font-weight: 300 !important;

  .font-weight-bold {
    font-weight: 300 !important; /* 让 Zequn 变细 */
  }
}

.post .post-title {
  font-weight: 300 !important;
}

.navbar-brand {
  font-weight: 300 !important;
  .first-name { font-weight: 300 !important; }
  .last-name { font-weight: 700 !important; }
}