.navbar-brand, .post-title, h1.title {
  font-weight: 300 !important;

  span:first-child, b:first-child, strong:first-child {
    font-weight: 300 !important;
  }

  span:last-child, b:last-child, strong:last-child {
    font-weight: 700 !important;
  }
}