/* Swap the font of First Name and Last Name */
.navbar-brand {
  .first-name {
    font-weight: 300 !important;
  }
  .last-name {
    font-weight: 700 !important;
  }
}

.post-title {
  .first-name {
    font-weight: 300 !important;
  }
  .last-name {
    font-weight: 700 !important;
  }
}